<%= form_for :personas, url: personas_path do |f| %>
<h1>Nuevo registro</h1>
  <% if @personas.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@personas.errors.count, "error") %>, este registro
        no puede ser procesado, corrija los errores mostrados:
      </h2>
      <ul>
        <% @personas.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




  <p>
    <%= f.label :Nombre %><br>
    <%= f.text_field :Nombre %>
  </p>

  <p>
    <%= f.label :Email %><br>
    <%= f.text_area :Email %>
  </p>
   <p>
    <%= f.label :Telefono %><br>
    <%= f.text_area :Telefono %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Regresar', personas_path %>

